<div class="container">
    <h1>Assignments</h1>
    <hr />

    <app-section sectionTitle="Section One - Getting Started" maxAssignments="0"> There is no assignments in this section.</app-section>

    <app-section sectionTitle="Section Two - Basics" maxAssignments="3">
        <div class="row">
            <div class="col-4">
                <card title="Assignment One">
                    <app-alerts></app-alerts>
                </card>
            </div>

            <div class="col-4">
                <card title="Assignment Two">
                    <app-assignment-two></app-assignment-two>
                </card>
            </div>

            <div class="col-4">
                <card title="Assignment Three">
                    <app-assignment-three></app-assignment-three>
                </card>
            </div>
        </div>
    </app-section>

    <app-section sectionTitle="Section Three - Course Project - The Basics" maxAssignments="0"> There is no assignments in this section.</app-section>
    <app-section sectionTitle="Section Four - Debugging" maxAssignments="0"> There is no assignments in this section.</app-section>
</div>
